<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品登録</title>
</head>
<body>

<h1>商品登録</h1>

<form th:action="@{/products}"
      th:object="${productForm}"
      method="post">
    <p>
        <label>
            商品名：
            <input type="text" th:field="*{name}">
        </label>
        <span th:if="${#fields.hasErrors('name')}"
              th:errors="*{name}"></span>
    </p>

    <p>
        <label>
            価格：
            <input type="number" id="price" name="price" value="" th:field="*{price}">
        </label>
        <span th:if="${#fields.hasErrors('price')}"
              th:errors="*{price}"></span>
    </p>

    <p>
        <label>
            在庫：
            <input type="number" id="stock" name="stock" value="" th:field="*{stock}">
        </label>
        <span th:if="${#fields.hasErrors('stock')}"
              th:errors="*{stock}"></span>
    </p>

    <p>
        <label>
            説明：
            <textarea id="description" name="description" th:field="*{description}"></textarea>
        </label>
    </p>

    <button type="submit">登録</button>
</form>

<p>
    <a th:href="@{/products}">商品一覧へ戻る</a>
</p>

</body>
</html>