<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>商品一覧</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

    <form th:action="@{/products}" method="get">

        <label for="keyword">商品名</label>

        <input type="text" id="keyword" name="keyword" th:value="${keyword}" placeholder="商品名を入力">
        <label for="sort">並び順</label>

        <select id="sort" name="sort">

            <option value="newest" th:selected="${sort == 'newest'}">
                新着順
            </option>

            <option value="nameAsc" th:selected="${sort == 'nameAsc'}">
                商品名順
            </option>

            <option value="priceAsc" th:selected="${sort == 'priceAsc'}">
                価格の安い順
            </option>

            <option value="priceDesc" th:selected="${sort == 'priceDesc'}">
                価格の高い順
            </option>

        </select>

        <button type="submit" class="button-secondary">検索</button>

        <a th:href="@{/products}" class="button button-secondary">
            クリア
        </a>

    </form>

    <h1>商品一覧</h1>

    <p th:if="${message}" th:text="${message}" class="message-success">
    </p>

    <p th:if="${#lists.isEmpty(products)}">
        該当する商品はありません。
    </p>

    <p>
        件数：
        <span th:text="${products.size()}"></span>
    </p>

    <table th:unless="${#lists.isEmpty(products)}">
        <thead>
            <tr>
                <th>ID</th>
                <th>商品名</th>
                <th>価格</th>
                <th>在庫</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}"></td>
                <td>
                    <a th:href="@{/products/{id}(id=${product.id})}" th:text="${product.name}">
                    </a>
                </td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.stock}"></td>
            </tr>
        </tbody>
    </table>

    <div th:if="${productPage.totalPages > 0}">


        <div th:if="${productPage.totalPages > 0}">

            <a th:if="${productPage.hasPrevious()}" th:href="@{/products(
            keyword=${keyword},
            sort=${sort},
            page=${productPage.number - 1}
       )}" class="button button-secondary">
                前へ
            </a>

            <span th:each="pageNumber :
                  ${#numbers.sequence(
                      0,
                      productPage.totalPages - 1)}">

                <span th:if="${pageNumber == productPage.number}" th:text="${pageNumber + 1}" class="button button-secondary">
                </span>

                <a th:unless="${pageNumber == productPage.number}" th:href="@{/products(
                keyword=${keyword},
                sort=${sort},
                page=${pageNumber}
           )}" th:text="${pageNumber + 1}" class="button button-secondary">
                </a>

            </span>

            <a th:if="${productPage.hasNext()}" th:href="@{/products(
            keyword=${keyword},
            sort=${sort},
            page=${productPage.number + 1}
       )}" class="button button-secondary">
                次へ
            </a>

        </div>
    </div>

    <p>
        <a th:href="@{/}" class="button button-secondary">
            トップページへ戻る
        </a>
    </p>

</body>

</html>