<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>注文確認</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <header th:replace="~{fragments/header :: header}">
    </header>

    <h1>注文確認</h1>

    <table>

        <h2>配送先</h2>

        <table>
            <tbody>
                <tr>
                    <th>受取人氏名</th>
                    <td th:text="${checkoutForm.shippingName}"></td>
                </tr>

                <tr>
                    <th>郵便番号</th>
                    <td th:text="${checkoutForm.shippingPostalCode}"></td>
                </tr>

                <tr>
                    <th>住所</th>
                    <td>
                        <span th:text="${checkoutForm.shippingPrefecture}">
                        </span>

                        <span th:text="${checkoutForm.shippingCity}">
                        </span>

                        <span th:text="${checkoutForm.shippingAddressLine}">
                        </span>
                    </td>
                </tr>

                <tr>
                    <th>電話番号</th>
                    <td th:text="${checkoutForm.shippingPhone}"></td>
                </tr>
            </tbody>
        </table>

        <h2>注文商品</h2>
        <thead>
            <tr>
                <th>商品名</th>
                <th>価格</th>
                <th>数量</th>
                <th>小計</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="item : ${cart.items}">
                <td th:text="${item.productName}"></td>
                <td th:text="${item.price}"></td>
                <td th:text="${item.quantity}"></td>
                <td th:text="${item.subtotal}"></td>
            </tr>
        </tbody>
    </table>

    <p>
        合計数量：
        <span th:text="${cart.totalQuantity}"></span>
    </p>

    <p>
        合計金額：
        <span th:text="${cart.totalAmount}"></span>
        円
    </p>

    <p th:if="${errorMessage}" th:text="${errorMessage}" class="message-error">
    </p>

    <form th:action="@{/checkout/order}" method="post">
        <button type="submit" class="button-primary">注文を確定する</button>
    </form>

    <a th:href="@{/checkout}" class="button button-secondary">
        配送先入力へ戻る
    </a>

</body>

</html>